body
    background-color #FFE4A8

button
    width 100px
    height 25px

.panel
    width 400px
    padding 1em
    border 1px solid black

span.mouseover
    display inline-block
    width 20px
    height 20px
    border 1px 
    margin 3px
    border 1px solid black
    text-align center
    line-height 20px
    background-color red

    &:hover 
        background-color green 
