doctype 5
html
    head
        title Example Page
        link(href="/css/test.css",rel="stylesheet")
        script
            require = !{JSON.stringify(config)}
                
        script(src='/js/require-jquery.min.js',data-main="/js/main")

        :stylus
            button
                width 150px

    body
        a(href="/") Home
        |  | 
        a(href="/sound-js-0.3.0") SoundJS 0.3.0
        |  | 
        a(href="/sound-js-0.4.0") SoundJS 0.4.0

        h1 #{title}

        #loading.panel
            h1 Loading...
            span Percent: 
            span#progress 0%

        #control.panel(style="display: none")            
            h2 onClick Triggering Demo

            button#laser
                span Laser Beam
            p.note
                | One click, plays one instance of the laser beam sound.  Since
                | multiple instances are created, playing back works as fast
                | as you can click

            button#multi-shot
                span 5x Laser Multi-Shot
            p.note 
                | This plays the laser beam sound multple times concurrently
                | before the first one even finishes. Demos effectiveness of 
                | using multiple audio tags to mix sounds together

            h2 mouseover Demo        

            - for (var i=0; i < 10; i++) { 
                span.mouseover= i
            - }

