doctype 5
html
    head
        title SoundJS Demo | HTML5 Audio
        link(href="/css/test.css",rel="stylesheet")
        script
            require = !{JSON.stringify(config)}
                
        script(
            src='https://raw.github.com/jrburke/requirejs/2.1.5/require.js', 
            data-main="/js/main")

    body
        h1 #{title}

        include ./common/nav
        include ./common/demo-src
