doctype 5
html
    head
        title Howler Demo | HTML5 Audio
        link(href="/css/test.css",rel="stylesheet")
        :coffeescript
            window.require =
                waitSeconds: 1
                paths:
                    jquery: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min"

                    Howler: "/js/libs/howler.min"

        script(
            src='/js/libs/require.js',
            data-main="/js/main-howler"
        )

    body

        h1 howler.js v1.1.15 Demo

        include ./common/nav
        include ./common/demo-src
