doctype 5
html
    head
        title RequireJS + SoundJS + PreloadJS 
        link(href="/css/test.css",rel="stylesheet")

    body
        h1 RequireJS + SoundJS + PreloadJS
        .panel
            :markdown
                ## About

                Demonstration of loading [CreateJS](http://createjs.com) libraries using 
                [require.js](http://requirejs.org/).

                The demos show case using PreloadJS and SoundJS together. There are two 
                demos, one showing the older soundjs-0.3.0 and the latest soundjs-0.4.0.

                * [SoundJS 0.3.0](/sound-js-0.3.0)
                * [SoundJS 0.4.0](/sound-js-0.4.0)
                * [SoundJS NEXT](/sound-js-NEXT) - uses latest code with fixes for Firefox.

                ## Note

                SoundJS 0.4.0 has issues playing multiple channels
                on Firefox (v19) as of this writing. It works perfectly in 
                in Chrome and its [WebAudio API](http://bit.ly/Z5dHLz).

                The SoundJS NEXT library is the latest version on the 
                [Github Repo](https://raw.github.com/CreateJS/SoundJS/). It includes
                fixes for the above Firefox `<audio>` issues.
                
        a(href="https://github.com/mostlygeek/createjs-requirejs")
            img(
                style="position: absolute; top: 0; right: 0; border: 0;",
                src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png",
                alt="Fork me!"
            )


