doctype 5
html
    head
        title HTML5 Audio Libary Demos (+require.js Loading)
        link(href="/css/test.css",rel="stylesheet")

    body
        h1 HTML5 Audio Libary Demos (+require.js Loading)
        .panel
            :markdown
                ## About

                Demo of various HTML5 sound libraries


                ### SoundJS + PreloadJS

                * [SoundJS 0.5.2](/sound-js-0.5.2)

                Preload and SoundJS are from the CreateJS project and have more production apps
                built with them.

                ### Howler.js

                Demo of [howler.js](https://github.com/goldfire/howler.js), a newer HTML5 Audio
                library that supports the WebAudio API and falls back to `<audio>` tags when necessary.

                * [howler.js v1.0.15](/howler)

                ### AMD Loading
                All libraries are loaded using [require.js](http://requirejs.org/). In a large
                HTML5 application, like a game, it is important to keep JS source modular. These
                demos are an example of how that can be done.

                Further reading: [Why AMD](http://requirejs.org/docs/whyamd.html)?

        a(href="https://github.com/mostlygeek/html5-audio")
            img(
                style="position: absolute; top: 0; right: 0; border: 0;",
                src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png",
                alt="Fork me!"
            )

