nav
    a(href="/") Home
    |  | Demos: 
    a(href="/sound-js-0.3.0") SoundJS 0.3.0
    |  | 
    a(href="/sound-js-0.4.0") SoundJS 0.4.0
    |  | 
    a(href="/sound-js-NEXT") SoundJS NEXT
    |  | 
    a(href="/howler") Howler
    
